* {
  margin: 0;
  padding: 0;
}

.login_failure-warpper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.background-image {
  background-image: url('../images/login_failure.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 90%;
  max-width: 800px;
  aspect-ratio: 4/3;

  position: relative;
}

.return-btn {
  position: absolute;
  padding: 47px 95px;

  top: 57%;
  left: 38%;

  cursor: pointer;

  border: none;
  background-color: transparent;
}
